.hero {

  &__container {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    position: relative;
  }

  &__item-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__item-content {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
  }

  &__item-title {
    max-width: 970px;
    font-family: 'Ruda-Black', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__title-accent {
    color: $red-900;
  }

  &__item-text {
    margin-bottom: 32px;
  }

  &__inner-slick-prev,
  &__inner-slick-next {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    border-radius: 6px;
    @extend %arrow-interactivity;

  }

  .slick-prev-img path,
  .slick-next-img path {
    transition: fill 0.5s;
  }

  &__inner-slick-prev {
    left: 3%;
  }

  &__inner-slick-next {
    right: 3%;
  }

  .slick-disabled {

    .slick-prev-img path,
    .slick-next-img path {
      fill: $silver-600;
    }
  }

  &__inner .slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -40px;
  }

  &__inner .slick-dots li:not(:last-child) {
    margin-right: 22px;
  }

  &__inner .slick-dots button {
    width: 16px;
    height: 16px;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid $silver-600;
    background-color: $white;
    cursor: pointer;
    @extend %dots-interactivity;
  }

  &__inner .slick-dots .slick-active button {
    background-color: $green-900;
    border: none;
  }

  /*MEDIA*/

  @media (max-width: 1200px) {}

  @media (max-width: 992px) {

    &__container {
      min-height: 500px;
    }

    &__item-title {
      max-width: 700px;
      font-size: 40px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    &__container {
      min-height: 490px;
    }

    &__item-title {
      font-weight: 700;
      max-width: 420px;
      font-size: 30px;
    }

    &__item-text {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 576px) {

    &__item-content {
      width: 100vw;
      padding: 15px;
    }

    &__item-title {
      max-width: 320px;
      font-size: 20px;
    }
  }
}