/*COMPONENTS*/

.user {
  max-width: 790px;

  &:not(:last-child) {
    padding-bottom: 24px;
    margin-bottom: 24px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $silver-600;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__info-main {
    display: flex;
    align-items: center;
    max-width: 240px;
  }

  &__avatar {
    margin-right: 24px;
    border-radius: 50%;
  }

  &__name {}

  &__date {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $input-color;
    margin-top: 4px;
  }
}

/*PRODUCT*/

.product {


  /*general*/

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
  }

  /*slider*/

  &__images {
    max-width: 630px;
    height: 558px;
    padding: 69px 0;
    margin-right: 30px;
    border: 1px solid $silver-600;
  }

  &__images-item{
  
  }

  &__images-link {
    
  }

  .slick-slide {
    width: 630px;
  }

  &__image {
    position: relative;
    max-width: 420px;
    max-height: 420px;
    margin: 0 auto;
    
  }

  &__images-slick-prev,
  &__images-slick-next {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    border-radius: 6px;
    @extend %arrow-interactivity;
  }

  .product-prev-img path,
  .product-next-img path {
    transition: fill 0.5s;
  }

  &__images-slick-prev {
    left: 3%;
  }

  &__images-slick-next {
    right: 3%;
  }

  &__images .slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }

  &__images .slick-dots li:not(:last-child) {
    margin-right: 12px;
  }

  &__images .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid $silver-600;
    background-color: $white;
    cursor: pointer;
    @extend %dots-interactivity;
  }

  &__images .slick-dots .slick-active button {
    background-color: $green-900;
    border: none;
  }

  &__popup {
    // transform: translateY(-100%);
    // background-color: $white;
    // width: 100%;
    // height: 685px;
    // position: absolute;
    // left: 0;
    // top: 0;
    // z-index: 50;

    // &--active {
    //   transform: translateY(0%);
    // }
  }

  &__close-btn {
    position: absolute;
    right: 26px;
    top: 26px;
  }

  /*content*/

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: none;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    &--second {
      font-size: 26px;
      display: none;
    }
  }

  &__badges {
    margin-bottom: 18px;
  }

  &__line-1 {
    position: relative;
  }

  &__avail-сhecker {
    right: 0;
  }

  &__line-1,
  &__line-2 {
    margin-bottom: 30px;
    display: flex;
  }

  &__code-box {
    background-color: $silver-100;
    padding: 4px 5px;
    border-radius: 3px;
    margin-right: 12px;
  }

  &__code {
    font-size: 14px;
    line-height: 1.2;
    color: $silver-600;
  }

  &__prices {
    margin-bottom: 59px;
  }

  &__line-2 {
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    padding: 14px 12px 14px 49px;
    font-size: 16px;
    line-height: 1;
    margin-right: auto;
    margin-left: 18px;
    border-radius: 3px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/icon-basket.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 12px;
      top: 10px;
      width: 24px;
      height: 23px;
    }
  }

  /*delivery*/

  &__delivery-title {
    font-family: 'Ruda', sans-serif;
    font-size: 18px;
    line-height: 1.2;

    padding-bottom: 18px;
    margin-bottom: 18px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $silver-600;
    }
  }

  &__delivery-content {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__delivery-link {
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.2;
    color: $green-900;
    letter-spacing: 0.03em;
    border-bottom: 1px solid transparent;
    border-radius: 3px;
    transition: border 0.5s,
      box-shadow 0.5s,
      color 0.5s;

    &:hover {
      border-color: $green-900;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
      border-color: $green-hover-800;
      color: $green-hover-800;
    }
  }

  /*info*/

  &__dec-line {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $silver-600;
  }

  &__info {
    max-width: 690px;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }

  &__btns-item:not(:last-child) {
    margin-right: 145px;
  }

  &__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    padding-top: 16px;
    position: relative;

    &--active {
      color: $green-900;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: #63A60E;
      }
    }
  }

  /*description*/

  &__desc {
    display: none;

    &--active {
      display: block;
    }
  }

  &__desc-text:not(:last-child) {
    margin-bottom: 30px;
  }

  &__char {
    display: none;

    &--active {
      display: block;
    }
  }

  &__char-item {
    color: $dark-500;
  }

  &__char-item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__char-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
  }

  /*reviews*/

  &__reviews {
    display: none;

    &--active {
      display: block;
    }
  }

  &__reviews-title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-900;
  }

  &__reviews-content {
    margin-bottom: 72px;
  }

  /*form*/

  &__form {}

  &__form-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__form-caption {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.3;
    color: $dark-900;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &--checkbox {
      flex-direction: row;
      font-size: 14px;
      line-height: 1.3;
      color: $dark-500;
    }

    &--review {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }

  &__form-input {
    font-size: 14px;
    line-height: 1.3;
    color: $silver-600;
    padding: 18px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    min-width: 260px;
    margin-top: 12px;
    transition: box-shadow 0.5s;

    &--review {
      min-width: 400px;
      min-height: 165px;
      resize: none;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
    }
  }

  &__form-box {
    display: flex;
    flex-direction: column;

  }

  &__checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__checkbox {
    margin-right: 12px;
    min-width: 24px;
    height: 24px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    position: relative;
  }

  &__checkbox-input:checked+.product__checkbox {
    border-color: $dark-500;

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 6px;
      width: 12px;
      height: 8px;
      background-image: url(../../../images/icons/checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__form-btn {}

  /*MEDIA*/

  @media (max-width: 1200px) {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      display: none;

      &--second {
        display: block;
      }
    }

    &__images {
      margin: 0 0 30px 0;
    }

    &__content {
      width: 100%;
    }
  }

  @media (max-width: 992px) {}

  @media (max-width: 768px) {

    &__wrapper {
      align-items: center;
    }

    &__images {
      max-width: 500px;
      max-height: 455px;
      padding: 0;
    }

    &__images-link {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    &__button {
      padding: 0;
      font-size: 0;
      width: 48px;
      height: 44px;

      &::before {
        content: '';
        left: 12px;
        right: 12px;
        top: 10px;
        bottom: 10px;
      }
    }

    &__btns-item:not(:last-child) {
      margin-right: 80px;
    }

    &__form-inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__form-caption {
      margin-bottom: 18px;

      &--review {
        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }

    &__form-input {
      min-width: 345px;
      max-width: 300px;
    }

  }

  @media (max-width: 576px) {
    &__images {
      max-width: 345px;
      max-height: 300px;
    }

    &__image {
      max-width: 270px;
      max-height: 270px;
    }

    &__btns-item:not(:last-child) {
      margin-right: 40px;
    }

    &__btn {
      font-size: 16px;
    }
  }

  @media (max-width: 450px) {
    &__btns-item:not(:last-child) {
      margin-right: 20px;
    }

    &__btn {
      font-size: 14px;
      line-height: 1.7;
    }
  }

  @media (max-width: 375px) {
    &__images {
      max-width: 300px;
    }

    &__line-1 {
      margin-bottom: 24px;
      padding-bottom: 32px;
    }

    &__avail-сhecker {
      left: 0;
      bottom: 0;
    }

    &__dec-line {
      display: none;
    }

    &__btns {
      flex-direction: column;
    }

    &__btns-item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__btn {
      font-size: 16px;
    }

    &__form-caption {
      &--checkbox {
        max-width: 325px;
      }
    }

    &__form-input {
      min-width: 300px;
    }
  }
}