<section class="interesting">
  <div class="container">

    <h2 class="interesting__title title">
      Вас может заинтересовать
    </h2>

    <div class="interesting__inner">

      <div class="interesting__item">

        <article class="product-card">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--hit">хит</span>
          </div>

          <button class="product-card__fav-btn fav-btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="fav-btn__icon" width="32" height="32">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__link-img" src="images/products/5.jpg" alt="Морковь" width="300" height="215">
          </a>

          <div class="product-card__info">

            <h3 class="product-card__title">
              Морковь молодая с бабушкиной грядки, 1кг
            </h3>

            <div class="product-card__bottom">

              <div class=" prices">
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="product-card__bottom-box">

                <button class="product-card__basket-btn basket-btn" type="button">
                  <span class="sr-only">Открыть корзину</span>
                  <svg class="basket-btn__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#basket-btn"></use>
                  </svg>
                </button>

              </div>

            </div>

          </div>

        </article>

      </div>

      <div class="interesting__item">

        <article class="product-card">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--disc">-30%</span>
          </div>

          <button class="product-card__fav-btn fav-btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="fav-btn__icon" width="32" height="32">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__link-img" src="images/products/6.jpg"
              alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange" width="300" height="215">
          </a>

          <div class="product-card__info">

            <h3 class="product-card__title">
              Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
            </h3>

            <div class="product-card__bottom">

              <div class=" prices">
                <span class="prices__item prices__item--old">
                  199
                  <span class="currency">₴</span>
                </span>
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="product-card__bottom-box">

                <button class="product-card__basket-btn basket-btn" type="button">
                  <span class="sr-only">Открыть корзину</span>
                  <svg class="basket-btn__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#basket-btn"></use>
                  </svg>
                </button>

              </div>

            </div>

          </div>

        </article>

      </div>

      <div class="interesting__item">

        <article class="product-card">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>

          <button class="product-card__fav-btn fav-btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="fav-btn__icon" width="32" height="32">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__link-img" src="images/products/7.jpg"
              alt="Кофе с коноплей органический Caffé Salomoni" width="300" height="215">
          </a>

          <div class="product-card__info">

            <h3 class="product-card__title">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>

            <div class="product-card__bottom">

              <div class=" prices">
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="product-card__bottom-box">

                <button class="product-card__basket-btn basket-btn" type="button">
                  <span class="sr-only">Открыть корзину</span>
                  <svg class="basket-btn__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#basket-btn"></use>
                  </svg>
                </button>

              </div>

            </div>

          </div>

        </article>

      </div>

      <div class="interesting__item">

        <article class="product-card">

          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>

          <button class="product-card__fav-btn fav-btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="fav-btn__icon" width="32" height="32">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__link-img" src="images/products/7.jpg"
              alt="Кофе с коноплей органический Caffé Salomoni" width="300" height="215">
          </a>

          <div class="product-card__info">

            <h3 class="product-card__title">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>

            <div class="product-card__bottom">

              <div class=" prices">
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>

              <div class="product-card__bottom-box">

                <button class="product-card__basket-btn basket-btn" type="button">
                  <span class="sr-only">Открыть корзину</span>
                  <svg class="basket-btn__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#basket-btn"></use>
                  </svg>
                </button>

              </div>

            </div>

          </div>

        </article>

      </div>

      <div class="interesting__item">
      
        <article class="product-card">
      
          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>
      
          <button class="product-card__fav-btn fav-btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="fav-btn__icon" width="32" height="32">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>
      
          <a class="product-card__link" href="#">
            <img class="product-card__link-img" src="images/products/7.jpg" alt="Кофе с коноплей органический Caffé Salomoni"
              width="300" height="215">
          </a>
      
          <div class="product-card__info">
      
            <h3 class="product-card__title">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>
      
            <div class="product-card__bottom">
      
              <div class=" prices">
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>
      
              <div class="product-card__bottom-box">
      
                <button class="product-card__basket-btn basket-btn" type="button">
                  <span class="sr-only">Открыть корзину</span>
                  <svg class="basket-btn__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#basket-btn"></use>
                  </svg>
                </button>
      
              </div>
      
            </div>
      
          </div>
      
        </article>
      
      </div>
      
      <div class="interesting__item">
      
        <article class="product-card">
      
          <div class="product-card__badges badges">
            <span class="badges__item badges__item--new">новинка</span>
          </div>
      
          <button class="product-card__fav-btn fav-btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="fav-btn__icon" width="32" height="32">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>
      
          <a class="product-card__link" href="#">
            <img class="product-card__link-img" src="images/products/7.jpg" alt="Кофе с коноплей органический Caffé Salomoni"
              width="300" height="215">
          </a>
      
          <div class="product-card__info">
      
            <h3 class="product-card__title">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>
      
            <div class="product-card__bottom">
      
              <div class=" prices">
                <span class="prices__item">
                  99
                  <span class="currency">₴</span>
                </span>
              </div>
      
              <div class="product-card__bottom-box">
      
                <button class="product-card__basket-btn basket-btn" type="button">
                  <span class="sr-only">Открыть корзину</span>
                  <svg class="basket-btn__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#basket-btn"></use>
                  </svg>
                </button>
      
              </div>
      
            </div>
      
          </div>
      
        </article>
      
      </div>

    </div>

  </div>
</section>